
/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
    width: 800px;
    margin:0 auto;
}
h1,h2,h3,h4,h5{
    margin:1rem 0;
}
.direction.ltr p{
    width: 50%;
    margin-right: 10rem;
}
.direction.rtl p{
    width: 50%;
    margin-right: 10rem;
}

div[class^="ver"]{
    height:200px;
}
.ver-lr{

}
.ver-rl{

}




/* align */
.align.rtl{
   
}
.align {
    text-align:right;    
}

.cardwrapper{
    display: flex;
}
.cardwrapper > div{
    width: 50%;
}
.card {
	display: flex;
	background-color: #fff;
	border-radius: 4px;
	padding: 2rem 4rem 2rem 2rem;
	border-left: 8px solid #fd622b;
}
.card img {
	width: 80px;
	height: 80px;
	border-radius: 50%;	
	margin-right: 1.5rem;
}

/* width height */

.width_height {
    display: flex;
}
.width_height > div {
    width: 50%;
    padding: 3rem;    
}
.width_height h1{
	font-size:1.2rem;
	margin-bottom: 2rem;
}
.box {
	color: #318ff9;
	border: 2px dotted #318ff9;
	padding: 3rem;
	width: 15rem;
	height: 30rem;
}
 
/* Vertical */
.vertical {
	writing-mode: vertical-rl;
}

.position{
    display: flex;
}
.position > div {
    width: 50%;
    padding: 3rem;
}

/* Navbar */
.navbar {
	background-color: #343841;
	color: #fff;
	border-radius: 4px;
	padding: 1rem 2rem;
	position: relative;
}

.navbar i {
	position: absolute;
	right: 2rem;
	top: 1.2rem;
}

/* RTL */
.rtl {
	/* direction: rtl; */
	font-family: 'Cairo', sans-serif;
}

.rtl .navbar i {
	left: 2rem;
	right: auto;
	top: 1.5rem;	
}
